<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= user.username %> This is profile page%></h1>
    <h2><%=user.email%></h2>

        <form action ="/home/updateProfile" method="post">
       
        <label for="address">Address:</label>
        <input type="text" id="address" name="address" value="<%= user.address %>" required>
        <br>
        <button type="submit">Update Profile</button>
        </form>
        <br>
        <form action="/home" method="get">
            <button type="submit">homepage </button>
         </form>
</body>
</html>